/**
 * 处理当前日期时间函数 获取主要是 new Date() 函数获取 本地系统时间对应的日期
 * 注意：不要用生成的订单日期 来进行活动群体享受相应的规则划分，他们调整手机或电脑时间将会出错
 * 参数：传入标准时间日期的格式 未传入默认为当前的日期格式
 * 返回：相应时间戳对应的日期，并按照一定格式拼凑 2020-03-02 01:38:01
 */
var formatTime = function formatTime(string) {
  // var publishTime = parseInt(string),//必须对传入的字符串做格式化，否则getDate将无法转换数据
  //   date = getDate(publishTime), //转化为标准时间格式：Thu Sep 06 2018 18:47:00 GMT+0800 (中国标准时间）
  var date = getDate(string),
    Y = date.getFullYear(),
    M = date.getMonth() + 1,
    D = date.getDate(),
    H = date.getHours(),
    m = date.getMinutes(),
    s = date.getSeconds();
  // 获取date 中的 年 月 日 时 分 秒
  // 对 月 日 时 分 秒 小于10时, 加0显示 例如: 09-09 09:01
  if (M < 10) {
    M = '0' + M;
  }
  if (D < 10) {
    D = '0' + D;
  }
  if (H < 10) {
    H = '0' + H;
  }
  if (m < 10) {
    m = '0' + m;
  }
  if (s < 10) {
    s = '0' + s;
  }

  return Y + '-' + M + '-' + D + ' ' + H + ':' + m
}

/**
 * //将时分秒转化成二位数格式 2020
 */
function formatNumber(n) {
  n = n.toString()
  return n[1] ? n : '0' + n   //第二位存在的时候，说明不用转化
}

//截取字符串
var sub = function (val, start = 0, end = 17) {
  if (val.length == 0 || val == undefined) {
    return;
  }
  if (val.length > end) {
    return val.substring(start, end) + "...";
  } else {
    return val;
  }
}
module.exports.sub = sub;
module.exports.formatTime = formatTime;